.cart-list {
  overflow: auto;
  max-height: 200px;

  //cart-list__image
  &__image {
    flex: 0 0 100px;
    height: 100px;
  }

  //cart-list__body
  &__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 0 10px;
  }

  //cart-list__title
  &__title {
    color: inherit;
    font-weight: 600;
    transition: color 0.3s ease 0;
    margin: 0px 0px 5px/16px * 1em 0px;

    &:hover {
      color: $orangeColor;
    }
  }

  //cart-list__quantity
  &__quantity {
    font-size: 14px;
    margin: 0 0 5px/14px * 1em 0px;
  }

  //cart-list__delete
  &__delete {
    color: red;
    font-size: 14px;

    &:hover {
      text-decoration: underline;
    }
  }

  //cart-list__item
  &__item {
    display: flex;
    align-items: flex-start;

    &:not(:last-child) {
      margin: 0 0 15px 0;
    }
  }
}
