.tips {
  padding-top: 44px;
  padding-bottom: 44px;

  @media (max-width: $md1+px) {
    @include adaptiv-value("padding-top", 44, 30, $md1);
    @include adaptiv-value("padding-bottom", 44, 30, $md1);
  }
  // .tips__container

  &__container {
  }

  // .tips__title

  &__title {
    // margin: 0 0 32px/40px 0;
  }

  // .tips__slider

  &__slider {
  }
}

.slider-tips {
  position: relative;

  // .slider-tips__body

  &__body {
    //!! исправляем проблему с тенью у слайдов !!

    margin-left: -32px;
    margin-right: -32px;
    padding: 32px;

    @media (max-width: $md1+px) {
      @include adaptiv-value("margin-left", -32, -15, $md1);
      @include adaptiv-value("margin-right", -32, -15, $md1);
      @include adaptiv-value("padding", 32, 15, $md1);
    }
  }

  // .slider-tips__slide

  &__slide {
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.3s ease 0;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        box-shadow: 0 0 32px rgba(97, 97, 97, 0.2);
      }
    }
  }

  // .slider-tips__img

  &__img {
    padding: 0 0 251/391 * 100% 0;
  }

  // .slider-tips__content

  &__content {
    display: flex;
    flex-direction: column;
    padding: 15px;
    flex: 1 1 auto;
    align-items: flex-start;
  }

  // .slider-tips__title

  &__title {
    flex: 1 1 auto;
    color: inherit;
    font-weight: 600;
    line-height: 120%;
    font-size: 24px;
    transition: all 0.3s ease 0s;

    &:not(:last-child) {
      margin: 0 0 8px/24px * 1em 0;
    }

    @media (max-width: $md1+px) {
      @include adaptiv-value("font-size", 24, 18, $md1);
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: $orangeColor;
      }
    }
  }

  // .slider-tips__text

  &__text {
    color: $grayColor;
    font-size: 14px;
    line-height: 150%;
  }

  // .slider-tips__dotts

  &__dotts {
    justify-content: center;
    padding-top: 8px;

    @media (max-width: $md1+px) {
      @include adaptiv-value("padding-top", 8, 0, $md1);
    }
  }

  // .slider-tips__arrows

  &__arrows {
    position: absolute;
    top: 50%;
    left: 24px;
    z-index: 5;
    transform: translate(0, -50%);
    width: calc(100% - 48px); //48 ширина стрелочки
    justify-content: space-between;
    pointer-events: none; //для контейнера со стрелками

    @media (min-width: $md1+px) {
      left: -24px;
      width: calc(100% + 48px); //48 ширина стрелочки
    }

    @media (max-width: $md3+px) {
      display: none;
    }
  }
}
