._title {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
}

._footer-title {
  line-height: 29 / 24 * 100%;
  color: #000;
  font-weight: 700;
  font-size: 24px;
  @media (max-width: $md1+px) {
    @include adaptiv-value("font-size", 24, 20, 1270);
  }
}

@media (max-width: $md3+px) {
  .js-accordion__item-menu .js-accordion__body-menu {
    height: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.3s ease 0s;
    padding: 0;
    pointer-events: none;
  }

  .js-accordion__item-menu._active .js-accordion__body-menu {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
    padding: 15px 0;
    height: auto;
    pointer-events: auto;
  }
}

.btn {
  display: inline-flex; //флекс элеммент как строчный
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  text-align: center;
  transition: all 0.3s ease 0s;
  min-height: 48px;

  &_white {
    // .btn_white
    color: $orangeColor;
    background-color: #fff;
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        background-color: $orangeColor;
        color: #fff;
      }
    }
  }
}

//Slider controls

.slider-arrows {
  display: grid;
  grid-template-columns: repeat(2, 48px);
  column-gap: 8px;
}
.slider-arrow {
  border-radius: 50%;
  height: 48px;
  background-color: rgba(232, 159, 113, 0.3);
  color: $orangeColor;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      color: #fff;
      background-color: rgba(232, 159, 113, 1);
    }
  }

  // .slider-arrow__prev

  &__prev {
    transform: rotate(90deg);
  }

  // .slider-arrow__next

  &__next {
    transform: rotate(-90deg);
  }

  &_white {
    background: #fff;
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);

    @media (any-hover: hover) {
      &:hover {
        background-color: $orangeColor;
        color: #fff;
      }
    }
  }
}

.swiper-pagination-bullets {
  display: flex;
  flex-wrap: wrap; //если слайдов слишком много
}

.swiper-pagination-bullet {
  flex: 0 0 27px;
  height: 27px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px 0;
  background: transparent;
  opacity: 1;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 12px;
  }

  &::after {
    content: " ";
    width: 11px;
    height: 11px;
    background-color: #d8d8d8;
    border-radius: 50%;
    transition: background-color 0.3s ease 0s;
  }

  &::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid $orangeColor;
    transition: transform 0.3s ease 0s;
    transform: scale(0);
  }
}

.swiper-pagination-bullet-active {
  background: transparent;
  &::after {
    background-color: $orangeColor;
  }

  &::before {
    transform: scale(1);
  }
}
