html {
  box-sizing: border-box; /*свойства width и height включают в себя значения полей (padding) и границ (border), но не отступов (margin).*/
  height: 100%; //для прижатия футера
}

*,
*::before,
*::after {
  box-sizing: inherit; /*Все элементы наследуют значение своего родителя. В данном случае у всех элементов значение box-sizing: border-box*/
}

body {
  height: 100%; //для прижатия футера
  font-family: $fontFamily, sans-serif;
  font-size: $fontSize + px;
  color: $mainColor;
  background-color: #fff;
}

ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.lock {
  overflow: hidden;
}

//Wrapper

.wrapper {
  width: 100%;
  min-height: 100%; //для того чтобы футер прижать к низу
  overflow: hidden;
  display: flex; //для того чтобы футер прижать к низу
  flex-direction: column; //для того чтобы футер прижать к низу
}

//Container

._container {
  max-width: $maxWidthContainer + px;
  padding: 0 15px;
  margin: 0 auto;
}

//class main
.page {
  flex: 1 1 auto; //для того чтобы футер прижать к низу
}

.scroll-on {
  position: fixed;
  left: 30px;
  top: 60px;
  pointer-events: none;
}

.disable-scroll {
  position: relative;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

._flyImage {
  position: fixed;
  z-index: 100;
  transition: all 1.5s ease 0s;
}

.js-validate-error-field {
  border: 3px solid $orangeColor !important;
  color: $mainColor !important;
}

.js-validate-error-label {
  position: absolute;
  bottom: -20px;
  left: 12px;
  font-size: 16px;
  color: $orangeColor !important;
}
